services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U app -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 30
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      DATABASE_URL: ${DATABASE_URL} #postgresql://app:app@db:5432/appdb
      MODEL_PATH: ${MODEL_PATH} #/app/autogluon
    depends_on:
      db:
        condition: service_healthy
    ports: ["8000:8000"]
  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    environment:
      API_URL: ${API_URL} #http://api:8000
    depends_on:
      - api
    ports: ["8501:8501"]
